<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="login-form">
        <h2>Login</h2>
        <% if (message) { %>
            <h3 class="lgn-err"><%= message %></h3>
          <% } %>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="text" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">password:</label>
                <input id="password" type="password" name="password" required>
            </div>
            <div class="form-group lgn-btn">
                <button>Login</button>
            </div>

        </form>
        <p>Or with</p>
            
    </form >
    <form action="/auth/google">
    <div class="ggl-btn">
        <button><i class="fa-brands fa-google"></i>&nbsp; Google</button>
    </div>
    </div>
</body>

</html>