<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="home">
      <form class="hm-reg" action="http://localhost:3000/register">
        <button>Register</button>
      </form>
      &nbsp;&nbsp;
      <form class="hm-lgn" action="http://localhost:3000/login">
        <button>Login</button>
      </form>
</div>
</body>
</html>